  <footer class="site-footer">
    <p>GraphCompose &mdash; Java declarative PDF engine. <a href="https://github.com/DemchaAV/GraphCompose/blob/main/LICENSE">MIT-licensed</a>.</p>
    <p>
      <a href="https://github.com/DemchaAV/GraphCompose">GitHub</a> &middot;
      <a href="https://github.com/DemchaAV/GraphCompose/blob/main/CHANGELOG.md">Changelog</a> &middot;
      <a href="https://github.com/DemchaAV/GraphCompose/blob/main/docs/migration/v2.0.0-modules.md">Migrating to 2.0</a>
    </p>
  </footer>
